.watchlist {
  padding-top: 80px; /* Clears the header */
  background-color: #141414;
  color: white;
  min-height: 100vh;
  padding: 20px;
}



.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 600px) {
  .watchlist h2 {
    font-size: 18px; /* Slightly smaller for mobile */
  }
}